<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Ubi Playlist{% endblock %}</title>

    <!-- Loads the path to your static files -->
    {% load staticfiles %}
    <link rel="icon" href="music.ico">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'> <!-- Font -->
    <link rel="stylesheet" type="text/css" href="{% static 'playlist/style.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">

            <!-- Header -->
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'index' %}">Ubi Playlist</a>
            </div>
        </div>
    </nav>
    <div id="div_body">{% block body %}{% endblock %}</div>
</body>
</html>